<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active">NGIdentityWeb</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--NavBar Component-->
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <app-navbar class="navbar-nav" [isSignedIn]="signInManagerService.isSignedIn" [userName]="signInManagerService.userName">
                </app-navbar>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <router-outlet></router-outlet>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - NGIdentityWeb - <a routerLink="/privacy" routerLinkActive="active">Privacy</a>
    </div>
</footer>